*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @font-face {
        font-family: MinionProRegular;
        src: url('../fonts/MinionPro-Regular.otf') format('otf');
    }
    @font-face {
        font-family: NeosansProBlack;
        src: url('../fonts/NeosansPro-Black_0.otf') format('otf');
    }
    @font-face {
        font-family:  NeosansProBold;
        src: url('../fonts/NeosansPro-Bold_0.otf') format('otf');
    }
    @font-face {
        font-family: NeosansProItalic;
        src: url('../fonts/NeosansPro-Italic.otf') format('otf');
    }
    @font-face {
        font-family:  NeosansProLight;
        src: url('../fonts/NeosansPro-Light.otf') format('otf');
    }
    @font-face {
        font-family: NeosansProMedium;
        src: url('../fonts/NeosansPro-Medium.otf') format('otf');
    }
    @font-face {
        font-family:  NeosansProRegular;
        src: url('../fonts/NeosansPro-Regular_0.otf') format('otf');
    }
}