body {
    background-color: #F6F6FE;
}

/* HEADER */
.top-bar .container {
    padding: 1rem;
    border-bottom: solid 2px #DFE1E2;
}

.top-bar .container .row {
    display: flex;
    justify-content: center;
}

.top-bar img {
    width: 263px;
    height: 73px;
}

.top-bar__dropdowmenu {
    position: absolute;

    margin-top: 1rem;
    right: 0;
}

/* DROPDOWN-MENU */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropbtn {
    background-color: #F6F6FE;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdownmenu_icon {
    display: flex;
}

.dropdownmenu_icon i {
    margin-left: 10px;
}

.top-bar__dropdowmenu {
    position: absolute;
    display: inline-block;

    right: 210px;
}

.dropdown-content {
    display: none;
    position: absolute;

    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    
    min-width: 160px;
    z-index: 1;

    margin-top: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.top-bar__dropdowmenu:hover .dropdown-content {
    display: block;
}

/*CONTENT*/ 
.content {
    min-height:calc(100vh - 111px - 60px)
}

.container #banner {
    margin-top: 54px;
    width: 100%;
}

.content .container .row {
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.content .left_content .price_table{
    width: 411px;
    height: 705px;

    background-color: #FFFFFF;

    border-style: solid;
    border-color: #DFE1E2 ;
    border-width: thin;
}

.content .left_content .price_table p {
    margin-top: 12px;
    margin-left: 19px;  
}

.content hr {
    width: 90%;
    margin-left: 19px;

}

.content #booking_cal {
    margin-right: 13px;
}
/*CONTENT*/ 

/* FOOTER */
.footer {
    background-color: black;
    margin-top: 10px;
}

.footer .container {
    padding: 16px;
}

.footer .container p{
    color: white;
    margin-top: 19px;
    padding: 14px;
}

.footer .footer_logo #logo {
    margin-left: 43px;
}

/* RESPONSIVE */

@media only screen and (min-width: 768px){
    /* HEADER */
    .top-bar__dropdowmenu  {
        position: absolute;
    }

    /* CONTENT */
    /* .content #banner {
        display: none;
    } */

    /* FOOTER */
    .footer .container {
        display: flex;

        width: 70%;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-between;
    }

    .footer .footer_logo {
        max-width: 60%;
        display: flex;
        right: 0;
        align-items: center;
    }
}

@media only screen and (max-width: 1135px){
    .top-bar__dropdowmenu {
    display: none;
    }

     .footer .container {
        display: flex;

        width: 90%;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-between;
    }

    .footer .footer_logo {
        max-width: 60%;
        display: flex;
        right: 0;
        align-items: center;
    }
}

@media only screen and (max-width: 1260px){ 
      .content #banner {
        display: none;
    }
}
